input{
    color:white;
    border:2px solid beige;
    background: transparent;
    height: 35px;
    width:200px;

}
button{
    color: white;
    background-color: black;
    border:2px solid beige;
    background: transparent;
    height: 35px;
    width:75px;
}

form{
   text-align: end;
   padding-top:25px;
}