input{
   color: beige;
    border:2px solid beige;
    background: transparent;
    height: 35px;
    width:200px;

}
button{
   color: beige;
    border:2px solid beige;
    background: transparent;
    height: 39px;
    width:127px;
}

form{
   text-align: end;
   padding-top:25px;
}